<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >

        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-blueGray-400 text-center mb-3 font-bold">
            <br>
            <small>sign up with credentials</small>
            <br>

          </div>
          <form #f="ngForm">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                First Name 
              </label>
              <input
        
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="First Name"
                name="first_name"
                ngModel required  #a="ngModel"
                />
              </div>
              <div  *ngIf= "a.invalid && a.touched" style="color:black; background-color: rgba(253, 51, 0, 0.4); text-align: center; border-radius: 2%;">
               Veuillez remplir ce champ
              </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Last Name
              </label>
              <input
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Last Name"
                ngModel required  #r="ngModel"
                name="last_name"
                />
              </div>
              <div  *ngIf= "r.invalid && r.touched" style="color:black; background-color: rgba(253, 51, 0, 0.4); text-align: center; border-radius: 2%;">
               Veuillez remplir ce champ
              </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Login
              </label>
              <input
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="email or Phone"
                ngModel required  #e="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"
                name="email"
              />
            </div>
            <div  *ngIf="e.invalid && e.touched" style="color:black; background-color: rgba(253, 51, 0, 0.4); text-align: center; border-radius: 2%;">
              <div *ngIf="e.errors.required">Veuillez remplir ce champ</div>
              <div *ngIf="e.errors.pattern">Email non valide</div>
              <div></div>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Password
              </label>
              <input
                type="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password"
                name="Password" 
                ngModel required  #p="ngModel"
              />
            </div>
            <div  *ngIf= "p.invalid && p.touched" style="color:black; background-color: rgba(253, 51, 0, 0.4); text-align: center; border-radius: 2%;">
             Veuillez remplir ce champ
            </div>
            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                />
                <span class="ml-2 text-sm font-semibold text-blueGray-600">
                  I agree with the
                  <a href="javascript:void(0)" class="text-red-600">
                    Privacy Policy
                  </a>
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button"
                [disabled]="f.invalid"
              >
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
